---
---
<footer class="site-foot">
    <div>&copy; {new Date().getFullYear()} <a href="/">Julia Breckenreid</a></div>
    <div>
        Site by <a href="https://breckenreid.com" target="_blank" rel="noopener noreferrer">Julia Breckenreid</a>
    </div>
</footer>
