---
---
<footer class="site-foot">
    <div>&copy; {new Date().getFullYear()} <a href="/">Julia Breckenreid</a></div>
    <div>
        Site by <a href="https://astro.build/themes/details/clay/" target="_blank" rel="noopener noreferrer">Clay Astro</a>
    </div>
</footer>
